<h1>Planer Overview</h1>

<table class="table table-striped table-boredered">
    <thead class="thead-default">
        <tr>
            <th>Employee</th>
            <th>Montag</th>
            <th>Dienstag</th>
            <th>Mittwoch</th>
            <th>Donnerstag</th>
            <th>Freitag</th>
            <th>Samstag</th>
            <th>Sonntag</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Not assigned</td>
            <td>Not assigned</td>
            <td>Not assigned</td>
            <td>Not assigned</td>
            <td>Not assigned</td>
            <td>Not assigned</td>
            <td>Not assigned</td>
            <td>Not assigned</td>
        </tr>
        <tr>
            <td>Not assigned</td>
            <td>Not assigned</td>
            <td>Not assigned</td>
            <td>Not assigned</td>
            <td>Not assigned</td>
            <td>Not assigned</td>
            <td>Not assigned</td>
            <td>Not assigned</td>
        </tr>
    </tbody>
</table>