<h1>Shifts</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead class="thead">
                        <tr>
                            <th>Shift</th>
                            <th>Duration</th>
                            <th>Required Employees</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Morning Shift</td>
                            <td>8 Hours</td>
                            <td>2</td>
                        </tr>

                        <tr>
                            <td>Day Shift</td>
                            <td>8 Hours</td>
                            <td>3</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Montag</th>
                            <th>Dienstag</th>
                            <th>Mittwoch</th>
                            <th>Donnerstag</th>
                            <th>Freitag</th>
                            <th>Samstag</th>
                            <th>Sonntag</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                f
                            </td>
                            <td></td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                        </tr>
                        <tr>
                            <td>
                                f
                            </td>
                            <td></td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                        </tr>
                        <tr>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                        </tr>
                        <tr>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                            <td>Not assigned</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>