<div class="container-fluid">
    <div class="row" style="margin-bottom:20px">
        <div class="col col-md-12">
            <h1>Shifts</h1>
            <button type="button" class="btn btn-primary" (click)="newShiftComp.start()">Create New Shift</button>
            <newShiftComponent #newShiftComp></newShiftComponent>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-3">
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead class="thead-default">
                        <tr>
                            <th>Shift</th>
                            <th>Duration</th>
                            <th>Required Employees</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dnd-draggable [dragEnabled]="true" [dragData]="testShift">
                            <td>Morning Shift</td>
                            <td>8 Hours</td>
                            <td>2</td>
                        </tr>

                        <tr>
                            <td>Day Shift</td>
                            <td>8 Hours</td>
                            <td>3</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="col col-md-9">
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead class="thead-default">
                        <tr>
                            <th>Montag</th>
                            <th>Dienstag</th>
                            <th>Mittwoch</th>
                            <th>Donnerstag</th>
                            <th>Freitag</th>
                            <th>Samstag</th>
                            <th>Sonntag</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <td *ngFor="let shiftsOfDay of data">
                                <shiftcontainer [shifts]="shiftsOfDay"></shiftcontainer>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>